# [submodule "OpenCMS"]
#   path = OpenCMS
#   url = https://github.com/uneebae/opencms-api-specs

[submodule "OpenCMS"]
  path = OpenCMS
  url = https://github.com/uneebae/opencms-api-specs

[submodule "OpenCMS/OpenCMS"]
  path = OpenCMS/OpenCMS
  url = https://github.com/uneebae/opencms-api-specs


